.item-badge {
  --space: 4px; /* badge is the only item allowed to have such a small spacing, because its tiny */

  display: flex;
  align-items: center;
  gap: var(--space);
}

.item-badge .badge {
  flex-shrink: 0; /* to avoid losing the circle shape when there is no space due to flexbox */
}
