.navigation-bar {
  display: flex;
  align-items: center;
  padding: var(--space-small) 24px;
  background-color: white;
}

.navigation-bar .assignment,
.navigation-bar .response-rate {
  flex: 1; /* Trick to force logo be in the center */
}

.navigation-bar .scoutr-logo {
  --size: 15px;

  height: var(--size);
}

/* Bigger than laptop half width */
@media (min-width: 700px) {
  .navigation-bar .scoutr-logo {
    --size: 24px;
  }
}
