.navigation-bar {
  display: flex;
  align-items: center;
  padding: var(--space-small) 24px;
  background-color: white;

  /* debug color until stick it to the top */
  /* background-color: var(--color-gray-light); */
}

/* Layout */
.navigation-bar .left,
.navigation-bar .right {
  flex: 1; /* Trick to force logo be in the center */
}

.navigation-bar .left {
  display: flex;
  align-items: center;
}

.navigation-bar .right {
  text-align: right;
}

/* Design */
.navigation-bar .title {
  font-size: var(--font-size-normal);
  max-width: 86px;
}

.navigation-bar .company-logo {
  --size: 24px;

  width: var(--size);
  height: var(--size);
  margin-right: var(--space-small);
}

.navigation-bar .logo {
  --size: 15px;

  height: var(--size);
}

.navigation-bar .symbol {
  vertical-align: super; /* to make text superscript (x^2) */
  font-size: 9.5px;
}

.navigation-bar .value {
  font-weight: var(--font-weight-bold);
}

.navigation-bar .label {
  font-size: 8px;
}

/* Bigger than laptop half width */
@media (min-width: 700px) {
  .navigation-bar .title {
    font-size: 32px;
    max-width: unset; /* reset max width */
  }

  .navigation-bar .company-logo {
    --size: 48px;
  }

  .navigation-bar .logo {
    --size: 24px;
  }

  .navigation-bar .symbol {
    font-size: 18px;
  }

  .navigation-bar .value {
    font-size: 32px;
  }

  .navigation-bar .label {
    font-size: var(--font-size-small);
  }
}
