.card.card-new {
  background-color: var(--color-gray-light);
  border: none;
}

/* Laptop half width */
@media (min-width: 700px) {
  .card.card-new h2 {
    width: 50%; /* to force 2 line sentence in a short word */
  }
}
