.navigation-bar .assignment {
  display: flex;
  align-items: center;

  .title {
    font-size: var(--font-size-normal);
    max-width: 86px;
  }

  .logo {
    --size: 24px;

    margin-right: var(--space-small);
  }
}

/* Bigger than laptop half width */
@media (min-width: 700px) {
  .navigation-bar .assignment {
    .title {
      font-size: 32px;
      max-width: unset; /* reset max width */
    }

    .logo {
      --size: 48px;
    }
  }
}
