#assignments {
  background-color: lightgray;

  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--space-big);
  width: min(960px, 100% - 24px - 24px); /* 24px per sidee */
  min-height: 100vh;
  margin-inline: auto;
  padding: 24px 0;

  .hero {
    background-color: pink;
  }

  .section {
    background-color: lightgreen;

    display: grid;
    place-items: center;
  }

  .section .columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-medium);
  }

  .footer {
    background-color: aliceblue;
  }
}

/* Tablet */
@media (min-width: 700px) {
  #assignments {
    padding-top: 64px; /** big space for hero */
  }
}
