#assignments {
  display: flex;
  flex-direction: column;
  width: min(960px, 100% - 48px); /* 48px is 24px per side */
  min-height: 100vh;
  margin-inline: auto;
  padding-top: 24px;
  padding-bottom: var(--space-big);

  /* CONTAINER */
  .container {
    flex: 1;
  }
}

/* Tablet */
@media (min-width: 700px) {
  #assignments {
    padding-top: 64px; /** big space for hero */
  }
}
