.background-gray {
  background-color: var(--color-gray-light);
  color: var(--color-gray);
}

.background-red {
  background-color: var(--color-red-light);
  color: var(--color-red);
}

.background-orange {
  background-color: var(--color-orange-light);
  color: var(--color-orange);
}

.background-yellow {
  background-color: var(--color-yellow-light);
  color: var(--color-yellow);
}

.background-green {
  background-color: var(--color-green-light);
  color: var(--color-green);
}

.background-blue {
  background-color: var(--color-blue-light);
  color: var(--color-blue);
}

.background-cyan {
  background-color: var(--color-cyan-light);
  color: var(--color-cyan);
}

.background-purple {
  background-color: var(--color-purple-light);
  color: var(--color-purple);
}
