.badge {
  /* Yes unique, non standard values, this is a special item! */
  --size: 15px;
  --font-size: 10px;

  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--size);
}
