@import "../../styles/base/variables.css";
@import "../../styles/base/typography.css";

.button.primary {
  background-color: var(--color-blue);
  color: white;
  border-color: var(--color-blue);
}

.button.primary:hover {
  background-color: var(--color-blue-dark);
  border-color: var(--color-blue-dark);
}

.button.primary:active {
  color: var(--color-blue-light);
}

.button.primary:disabled {
  background-color: var(--color-black-light);
  color: var(--color-gray);
  border-color: var(--color-black-light);
}
