#hero {
  margin-top: 64px;
}

#hero h1 {
  margin-bottom: var(--space-small);
  color: black; /* Hero titles aren't ink black but true black*/
  font-size: 72px;
  line-height: 50px;
  letter-spacing: -3.5px;
}

#hero .slogan {
  color: var(--color-gray);
  font-size: 28px;
  font-weight: var(--font-weight-normal);
}
