.candidate-header {
  /* to fix the negative margin of the company picture */
  margin-bottom: var(--space-small);
  text-align: center;
}

.candidate-header .candidate-image {
  --size: 72px;

  width: var(--size);
  height: var(--size);
  border-radius: var(--border-radius-big);
}

.candidate-header .company-image {
  --size: 32px;

  width: var(--size);
  height: var(--size);
  margin-left: -24px;
  margin-bottom: -8px;
  border-radius: var(--border-radius-small);
}
