.item-company {
  display: flex;
  align-items: center;
  gap: var(--space-small);
}

.item-company img {
  --size: 24px;

  width: var(--size);
  height: var(--size);
  background-color: var(--color-gray-light);
  object-fit: contain;
}

.item-company small.label.red {
  color: var(--color-red);
}
