/* Layout */
.row-candidate .id {
  display: none;
}

/* Design */
.row-candidate .candidate img,
.row-candidate .company img {
  display: none; /* because we use a separate component to show them in a better way */
}

/* Laptop half screen */
@media (min-width: 700px) {
  /* Layout */
  .row-candidate .header-candidate {
    display: none;
  }

  .row-candidate .id {
    display: table-cell;
  }

  .row-candidate .candidate img,
  .row-candidate .company img {
    display: unset;
  }

  /* Column widths */
  .row-candidate .column-small {
    width: 6.25%;
  }

  .row-candidate .column-medium {
    width: 11.25%;
  }

  .row-candidate .column-big {
    width: 23.75%;
  }

  /* Design */
  .row-candidate .id {
    text-align: center;
  }

  .row-candidate .candidate img {
    --size: 44px;
  }

  .row-candidate .company img {
    --size: 24px;
  }
}
