.row-candidate {
  /* Layout */
  .id {
    display: none;
  }

  .candidate img,
  .company img {
    display: none; /* because we use a separate component to show them in a better way */
  }
}

/* Laptop half screen */
@media (min-width: 700px) {
  .row-candidate {
    /* Debug */
    .candidate .title {
      background-color: pink;
    }
    .candidate .label {
      background-color: lightgreen;
    }
    .company .title {
      background-color: aliceblue;
    }
    .company .label {
      background-color: lightyellow;
    }
    .notes {
      background-color: lavender;
    }

    /* Layout */
    .header-candidate {
      display: none;
    }

    .id {
      display: table-cell;
    }

    .candidate img,
    .company img {
      display: unset;
    }

    /* Design */
    .id {
      text-align: center;
    }

    .candidate img {
      --size: 44px;
    }

    .company img {
      --size: 24px;
    }

    /* Column widths */
    .column-small {
      width: 6.25%;
    }

    .column-medium {
      width: 11.25%;
    }

    .column-big {
      width: 23.75%;
    }
  }
}
