#candidates .state {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-medium);

  .content {
    text-align: center;
  }

  img {
    width: auto;
    height: 175px;
  }
}

/* Tablet */
@media (min-width: 700px) {
  #candidates .state {
    img {
      width: auto;
      height: 268px;
    }
  }
}
